{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/structure.css' %}">
{% endblock %}

{% block content %}
<div class="container my-1">

    <!-- Hero главной страницы -->
    <section class="hero-structure-home d-flex flex-column justify-content-center align-items-center text-center">
    <div class="hero-overlay"></div>
    <h1>Структура федерации</h1>
    <p>Выберите подразделение, чтобы просмотреть состав и подробную информацию.</p>
    </section>


    <!-- Сетка подразделений -->
    <section class="subdivisions-grid">
        {% for subdivision in subdivisions %}
        <div class="subdivision-card">
            <a href="{% url 'structure:subdivision_detail' subdivision.id %}" aria-label="Подробнее о {{ subdivision.get_title_display }}">
                <div class="card-content">
                    <h3>{{ subdivision.get_title_display }}</h3>
                    {% if subdivision.description %}
                    <p>{{ subdivision.description|truncatechars:80 }}</p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
